.btn-group {
    float: right;
    margin-top: -0.5em;
}

.badge {
    margin-left: 1em;
}

.article_amount {
    float: left;
    margin-right: 1em;
}

.saveButton {
    float: right;
    margin-top: -0.5em;
}

.header{
 background-color: #afd9ee;
}