html {
  font-family: arial, sans-serif;
}

footer {
  border-top: 1px solid lightgray;
  padding-top: 1em;
  margin-top: 3em;
}

#messagePanel {
  display: block;
  height: 2em;
}

#github-link {
  padding-left: 1em;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

#progress {
  visibility: hidden;
  border: 0;
  padding: 0;
}

body.loading #progress {
  visibility: visible;
}

.statsPanel {
  margin-top: 1em;
  font-size: smaller;
}

.panelButtons .btn {
  margin-right: 0.5em;
}

input {
  margin: 1em;
  width: 50%;
}

.list-group {
  margin-top: 0.5em;
}

.articleItem {
  width: 100%;
}

.cart {
  font-size: large;
  margin: 1pt;
  width: 100%;
}

#logo {
  width: 2em;
}