html {
  font-family: arial, sans-serif;
}

#logo {
  width: 2em;
}

.big_button {
  width: 100%;
  margin: 0.1em;
}

.cart_item {
  margin-bottom: 0.5em;
}

.cart_item_buttonGroup {
  float: right;
}

.cart_item_button {
  margin-right: 0.5em;
}

.cart_item_checkbox {
  transform: scale(1.5);
  float: left;
  margin-top: 0.2em;
}

.category_filter_dropdown{
  float: right;
}