html {
  font-family: arial, sans-serif;
}

#logo {
  width: 2em;
}

.big_button {
  width: 100%;
  margin: 0.1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.big_icon {
  font-size: 1.2em;
}

.cart_item {
  margin-bottom: 0.5em;
}

.cart_item_buttonGroup {
  float: right;
}

.cart_item_button {
  margin-right: 0.5em;
}

.cart_item_checkbox {
  transform: scale(1.5);
  margin-top: 0.1em;
  margin-right: 0.5em;
}

.cartArticles {
  text-align: center;
  vertical-align: middle;
}

.form_input {
  margin-top: 1em;
}

#submit_button {
  margin-top: 0.5em;
}

.cart_status {
  font-size: small;
}

.cart_progress {
  margin: auto;
  width: 75%;
  margin-bottom: 1em;
}

.red {
  color: #ff0020;
}

.green {
  color: #178000;
}

.orange {
  color: #ff7100;
}